.welcome{
    max-width: 1200px;
    margin: 150px auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 50px;
    border-top: 2px solid var(--Branco);
}

.title-welcome{
    font-size: 34px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    padding: 15px;
    text-align: center;
    background-color: var(--Azul-Claro);
}

.description-welcome{
    text-align: justify;
    font-size: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*id somente do Artigo sobre Criptografia*/
#subtitle-welcome{
    font-size: 31px;
    font-weight: bold;
    border-bottom: 2px solid var(--Branco);
    width: 385px;
}

.content{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 10px auto;
    margin-bottom: 110px;
    text-align: justify;
    gap: 30px;
    font-size: 21px;
}

.section{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}

.title-section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--Azul-Claro);
    border-radius: 20px;
    max-width: 700px;
    min-height: 70px;
    margin: 0 auto;
    padding: 15px;
}

.text-section{
    font-size: 26px;
}

.list-section{
    font-size: 26px;
}

#title-section1{
    max-width: 1100px;
}

#title-section2{
    max-width: 900px;
}

#title-section3{
    width: 300px;
}

.description{
    display: flex;
    flex-direction: column;
    align-items: end;
}

#text-section{
    border-bottom: 2px solid var(--Branco);
    padding-bottom: 50px;
}

@media (max-width: 1024px){
    .main-container{
        padding: 30px;
    }
    .title-welcome{
        font-size: 30px;
    }
    .description-welcome{
        font-size: 25px;
    }
    .content{
        max-width: 100%;
    }
    .title-section{
        font-size: 30px;
    }
    .text-section{
        font-size: 25px;
    }
    
    .list-section{
        font-size: 25px;
    }
}

@media (max-width: 768px){
    .title-welcome{
        font-size: 25px;
    }
    .description-welcome{
        font-size: 20px;
    }
    .content{
        max-width: 100%;
    }
    .title-section{
        font-size: 25px;
    }
    .text-section{
        font-size: 20px;
    }
    .list-section{
        font-size: 20px;
    }
    .description{
        font-size: 18px;
    }
}

@media (max-width: 500px){
    .title-welcome{
        font-size: 20px;
    }
    .description-welcome{
        font-size: 17px;
    }
    .content{
        max-width: 100%;
    }
    .title-section{
        font-size: 20px;
    }
    .text-section{
        font-size: 17px;
    }
    
    .list-section{
        font-size: 17px;
    }
    .description{
        font-size: 16px;
    }
}