.welcome{
    margin-top: 70px;
    min-height: 95vh;
    width: 100%;
    margin-bottom: 30px;
    font-size: 40px;
    background-image: url(../midia/img/fundo.png);
    background-repeat: no-repeat;
    background-size: 100vw; 
}

.title-welcome{
    animation: loadText1 2.7s ease-out forwards;
    max-width: 860px;
    margin-bottom: 30px;
    padding-top: 40px;
}

.description-welcome{
    animation: loadText2 2.7s ease-out forwards;
    max-width: 1160px;
}

.presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    max-width: 895px;
    margin: 10px auto;
    margin-bottom: 110px;
}

h1{
    max-width: 700px;
    min-height: 70px;
    display: flex;
    margin: 50px auto;
    justify-content: center;
    align-items: center;
    background-color: var(--Azul-Claro);
    border-radius: 35px;
    padding: 15px;
}

h2{
    display: flex;
    text-align: center;
}

.main-theme{
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#jaba{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 27px;
}

.description{
    padding: 20px 30px;
    border: 2px solid var(--Branco);
    border-radius: 25px;
}

.introduction{
    margin-bottom: 30px;
    font-size: 30px;
}

@keyframes loadText1{
    0%{
        margin-left: -900px;
    }
    100%{
        margin-left: 80px;
    }
}

@keyframes loadText2{
    0%{
        margin-left: -1300px;
    }
    100%{
        margin-left: 80px;
    }
}

@media (max-width: 1024px){
    .welcome{
        font-size: 25px;
        margin-bottom: 0px;  
    }
    .title-welcome{
        max-width: 660px;
        margin-bottom: 30px;
        padding-top: 40px;
    }
    .description-welcome{
        max-width: 860px;
    }
    .presentation{
        margin-top: -200px;
    }
}

@media (max-width: 768px){
    .welcome{
        margin-top: 75px;
        font-size: 20px;
    }
    .title-welcome{
        max-width: 660px;
        margin-bottom: 30px;
        padding-top: 40px;
    }
    .description-welcome{
        max-width: 660px;
    }
    .presentation{
        margin-top: -350px;
        font-size: 20px;
    }
    .description{
        max-width: 90%;
    }
    .introduction{
        font-size: 25px;
    }
    h2{
        width: 500px;
    }
    .main-theme{
        padding: 0px 20px;
    }
    
    @keyframes loadText1{
        0%{
            margin-left: -900px;
        }
        100%{
            margin-left: 20px;
        }
    }
    
    @keyframes loadText2{
        0%{
            margin-left: -1300px;
        }
        100%{
            margin-left: 20px;
        }
    }
}

@media (max-width: 580px){
    .welcome{
        margin-top: 75px;
        font-size: 16px;
    }
    .title-welcome{
        max-width: 260px;
        margin-bottom: 30px;
        padding-top: 40px;
    }
    .description-welcome{
        max-width: 340px;
    }
    h1{
        font-size: 22px;
    }
    .presentation{
        margin-top: -480px;
    }
    h2{
        width: 380px;
        font-size: 23px;
    }
    #jaba{
        font-size: 20px;
    }
    .introduction{
        font-size: 20px;
    }
}

@media (max-width: 425px){
    .welcome{
        display: none;
    }
    .presentation{
        margin-top: 50px;
    }
}